
.expenses {
    background-color: #16171a;
    padding:20px;
    margin: 10px 0px;
}

.no-expenses-found {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}